<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="pretty url for medvekoma" stopProcessing="false">
                    <match url="^([0-9]+)$" />
                    <action type="Rewrite" url="show_map.php?user=medvekoma&amp;map={R:1}" appendQueryString="false" logRewrittenUrl="false" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
